name: Lint Code Base

on:
    pull_request:
    push:

jobs:
    lint:
        name: Lint Code Base
        runs-on: ubuntu-latest

        permissions:
            contents: read
            statuses: write
            packages: read

        steps:
            - name: Checkout Code
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0 # Required for Super-Linter correctness

            - name: Lint Code Base
              uses: super-linter/super-linter@v8.2.1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
